<h2 mat-dialog-title> {{titleDialog}} </h2>
<form (ngSubmit)="closeForm()" [formGroup]="zoneForm">
  <mat-dialog-content>
    <div class="flex-container">


      <mat-form-field *ngIf="data.item"
      class="full-width"
      appearance="fill"
      floatLabel="always"
      >
        <mat-label>Signal K Path</mat-label>
        <input
          type="text"
          matInput
          placeholder="Select data path..."
          name="selectedPath"
          formControlName="zonesPath"
          required
        />
      </mat-form-field>


      <mat-checkbox *ngIf="!data.item" name="filterSelfPaths" formControlName="filterSelfPaths">
        Restrict Path list to own vessel
      </mat-checkbox>
      <mat-form-field *ngIf="!data.item" class="full-width" appearance="outline" floatLabel="always">
        <mat-label>Signal K Path</mat-label>
        <mat-select
          placeholder="Select data path..."
          name="selectedPath"
          formControlName="zonesPath"
          required
        >
          <mat-option
            *ngFor="let path of (availablePaths | filterSelf: zoneForm.value.filterSelfPaths)"
            [value]="path"
          >
            {{path}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <div class="zone-group" [formGroup]="zoneForm.controls.zoneNormal">
        <label class="mat-checkbox">Normal Zone</label>
        <mat-divider class="zone-title-divider"></mat-divider>
        <mat-form-field class="zone-fields" appearance="outline" floatLabel="always">
          <mat-label>From</mat-label>
          <input
            type="number"
            matInput
            name="lower"
            formControlName="lower"
            placeholder="Enter value..."/>
        </mat-form-field>
        <mat-form-field class="zone-fields" appearance="outline" floatLabel="always">
          <mat-label>To</mat-label>
          <input
            type="number"
            matInput
            name="upper"
            formControlName="upper"
            placeholder="Enter value..."/>
        </mat-form-field>
        <mat-error class="zone-fields mat-form-field" *ngIf="zoneForm.controls.zoneNormal.hasError('needUpperLower')">
          'From' must be smaller then 'To'
        </mat-error>
      </div>

      <div class="zone-group" [formGroup]="zoneForm.controls.zoneAlert">
        <label class="mat-checkbox">Alert Zone</label>
        <mat-divider class="zone-title-divider"></mat-divider>
        <mat-form-field class="zone-fields" appearance="outline" floatLabel="always">
          <mat-label>From</mat-label>
          <input
            type="number"
            matInput
            name="lower"
            formControlName="lower"
            placeholder="Enter value..."/>
        </mat-form-field>
        <mat-form-field class="zone-fields" appearance="outline" floatLabel="always">
          <mat-label>To</mat-label>
          <input
            type="number"
            matInput
            name="upper"
            formControlName="upper"
            placeholder="Enter value..."/>
        </mat-form-field>
        <mat-error class="zone-fields mat-form-field" *ngIf="zoneForm.controls.zoneAlert.hasError('needUpperLower')">
          'From' must be smaller then 'To'
        </mat-error>
      </div>

      <div class="zone-group" [formGroup]="zoneForm.controls.zoneWarn">
        <label class="mat-checkbox">Warn Zone</label>
        <mat-divider class="zone-title-divider"></mat-divider>
        <mat-form-field class="zone-fields" appearance="outline" floatLabel="always">
          <mat-label>From</mat-label>
          <input
            type="number"
            matInput
            name="lower"
            formControlName="lower"
            placeholder="Enter value..."/>
        </mat-form-field>
        <mat-form-field class="zone-fields" appearance="outline" floatLabel="always">
          <mat-label>To</mat-label>
          <input
            type="number"
            matInput
            name="upper"
            formControlName="upper"
            placeholder="Enter value..."/>
        </mat-form-field>
        <mat-error class="zone-fields mat-form-field" *ngIf="zoneForm.controls.zoneWarn.hasError('needUpperLower')">
          'From' must be smaller then 'To'
        </mat-error>
      </div>

      <div class="zone-group" [formGroup]="zoneForm.controls.zoneAlarm">
        <label class="mat-checkbox">Alarm Zone</label>
        <mat-divider class="zone-title-divider"></mat-divider>
        <mat-form-field class="zone-fields" appearance="outline" floatLabel="always">
          <mat-label>From</mat-label>
          <input
            type="number"
            matInput
            name="lower"
            formControlName="lower"
            placeholder="Enter value..."/>
        </mat-form-field>
        <mat-form-field class="zone-fields" appearance="outline" floatLabel="always">
          <mat-label>To</mat-label>
          <input
            type="number"
            matInput
            name="upper"
            formControlName="upper"
            placeholder="Enter value..."/>
        </mat-form-field>
        <mat-error class="zone-fields mat-form-field" *ngIf="zoneForm.controls.zoneAlarm.hasError('needUpperLower')">
          'From' must be smaller then 'To'
        </mat-error>
      </div>

      <div class="zone-group" [formGroup]="zoneForm.controls.zoneEmergency">
        <label class="mat-checkbox">Emergency Zone</label>
        <mat-divider class="zone-title-divider"></mat-divider>
        <mat-form-field class="zone-fields" appearance="outline" floatLabel="always">
          <mat-label>From</mat-label>
          <input
            type="number"
            matInput
            name="lower"
            formControlName="lower"
            placeholder="Enter value..."/>
        </mat-form-field>
        <mat-form-field class="zone-fields" appearance="outline" floatLabel="always">
          <mat-label>To</mat-label>
          <input
            type="number"
            matInput
            name="upper"
            formControlName="upper"
            placeholder="Enter value..."/>
        </mat-form-field>
        <mat-error class="zone-fields mat-form-field" *ngIf="zoneForm.controls.zoneEmergency.hasError('needUpperLower')">
          'From' must be smaller then 'To'
        </mat-error>
      </div>
    </div>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button mat-raised-button mat-dialog-close>Cancel</button>
    <button
      mat-raised-button
      color="accent"
      type="submit"
      [disabled]="zoneForm.invalid"
    >
      Ok
    </button>
    <mat-error class="zone-fields mat-form-field" *ngIf="zoneForm.hasError('zonesInvalid')">
      Zone are not continuous...
    </mat-error>
  </mat-dialog-actions>
</form>
