<div class="tab-content" [formGroup]="sailPlanSailFormGroup">
  <div class="full-width">
    <mat-form-field class="minField" appearance="outline" floatLabel="always">
      <mat-label>Label</mat-label>
      <input type="text" matInput placeholder="Setup label..." name="label"  formControlName="label">
    </mat-form-field>
    <mat-form-field class="minField" appearance="outline" floatLabel="always">
      <mat-label>Maximum Winds Speed</mat-label>
      <input type="number" min="0" max="100" matInput placeholder="Knots value..." name="maxWind"  formControlName="maxWind">
    </mat-form-field>
    <mat-form-field class="maxField" appearance="outline" floatLabel="always">
      <mat-label>Sail</mat-label>
      <input type="number" min="-1" max="2" matInput placeholder="Enter or select number..." name="sailToReduce"  formControlName="sailToReduce">
    </mat-form-field>
  </div>
</div>
